//title
h1,h2,h3,h4,h5,h6 {
    
}
.h1,.h2,.h3,.h4,.h5,.h6,h1,h2,h3,h4,h5,h6 {
   
}
.h1,h1 {
    
}
.h2,h2 {
    
}
.h3,h3 {

}
.h4,h4 {

}
.h5,h5 {

}
.h6,h6 {

}

p {
    margin-bottom: 0 !important;

}

//thẻ liên kết
a{
    text-decoration: none;
}
li{
    list-style: none;
}
img{
    width: 100%;
}
button{
    background: none;
    border: none;
    &:focus{
        outline: none;
    }
}
@keyframes show-menu{
    0%{margin-right:-80%; }
    100%{margin-right:0;}
}
@keyframes hide-menu{
    0%{margin-right: 0;}
    100%{margin-right: -80%;}
}
.show-menu{
    animation-name: show-menu;
    animation-duration: 1s;
    position: absolute ;
}
.hide{
    margin-right: -80%;
}
.hide-menu{
    animation-name: hide-menu;
    animation-duration: 1s;
    position: absolute;
}