$color-bg-footer: #343434;
$color-note-text: #747474;
$color-body-text:#333333;
$color-white: #fff;
$color-bg-top:#e7e9f0;
$color-bg-primary:#fafafa;
$color-login:#f7ab73;
$color-btn: #4c6bd7;
$color-primary: #fafafa;
$color-black:#000;
