@import "var";
@media screen and (max-width: 1425px) {
    .section {
        &_1 {
            .fix-padding {
                padding-bottom: 19rem;
            }
        }
    }
    .f-width{
        padding-left: 12px  !important;
        padding-right: 12px !important;
    }
}
@media screen and (max-width: 1399px) {
    .section {
        &_1 {
            .fix-padding {
                padding-bottom: 15rem;
            }
            .text {
                width: 70%;
                margin-top: 10rem;
            }
        }
    }
}
@media screen and (max-width: 1250px) {
    .section {
        &_1 {
            .fix-padding {
                padding-bottom: 10rem !important;
            }
        }
    }
}
@media screen and (max-width: 1199px) {
    .section {
        &_2-right{
            button{
                padding: 1.205rem 1rem 1.25rem 1rem;
                span{
                    padding-left: 7px;
                }
            }
        }
    }
}
@media screen and (max-width: 1115px) {
    .section {
        &_1 {
            .fix-padding {
                padding-bottom: 8rem !important;
            }
            .text {
                width: 80%;
                margin-top: 8rem;
            }
        }
    }
}
@media screen and (max-width: 1025px) {
    .section {
        &_2 {
            padding: 1.5rem 0;
            &-right {
                button {
                    padding: 1rem;
                }
            }
        }
        &_3 {
            &-content {
                &-flex {
                    div {
                        h1 {
                            padding: 0 10rem;
                        }
                        button {
                            padding: 1rem 3rem;
                        }
                    }
                }
            }
        }
        &_4 {
            &-button {
                button {
                    padding: 1rem 3rem;
                }
            }
        }
        &_5{
            &-content{
                &-right{
                    p{
                        &:first-of-type{
                            font-size: 1.2rem;
                            line-height: 1.6;                    
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 999px) {
    .section {
        &_1 {
            .fix-padding {
                padding-bottom: 7rem !important;
            }
            .header {
                &_menu {
                    display: none !important;
                }
                &_mobile {
                    display: block;
                    color: $color-white;
                    i {
                        font-size: 35px;
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 991px) {
    .section {
        &_1 {
            .fix-padding {
                padding-bottom: 2rem !important;
            }
            .text {
                width: 100%;
                margin-top: 5rem;
                text-align: center;
                &_content {
                    padding-right: 0 !important;
                }
            }
        }
        &_2 {
            &-right {
                width: 40%;
                margin-left: 20px;
            }
        }
        &_3 {
            margin: 8rem 0;
            &-content {
                &-flex {
                    div {
                        h1 {
                            padding: 0 !important;
                        }
                    }
                }
            }
        }
        &_4 {
            &-title {
                .content {
                    grid-template-columns: repeat(2, 1fr);
                    row-gap: 1.6875rem;
                }
            }
        }
        &_5 {
            margin: 9rem 0;
            &-content {
                &-right {
                    padding-left: 0 !important;
                }
                &-button {
                    bottom: auto !important;
                }
            }
        }
    }
}
@media screen and (max-width: 800px){
    .section{
        &_2-right{
            width: 41%;
        }
    }
}
@media screen and (max-width: 768px) {
    .section {
        &_1 {
            .text {
                margin-top: 1rem;
                &_title {
                    font-size: 2.5rem;
                }
                &_content {
                    font-size: 1rem;
                }
            }
        }
        &_2 {
            &-left {
                width: 70%;
                display: grid !important;
                grid-template-columns: repeat(5, 1fr);
                column-gap: 10px;
                div{
                    margin-left: 0 !important;
                }
            }
            &-right{
                width: 27%;
                button{
                    letter-spacing: -1.2px;
                    span{
                        padding-left: 0;
                    }
                }
            }
        }
        &_3{
            &-content{
                &-flex{
                    div{
                        h1{
                            font-size: 3rem;
                        }
                    }
                }
            }
        }
        &_5{
            &-content{
                &-right{
                    padding-left: 1rem !important;
                    padding-top: 1rem;
                }
            }
        }
    }
}
@media screen and (max-width:515px){
    .section{
        &_1{
            .fix-padding{
                padding-bottom: 1.2rem !important ;
            }
        }
        &_3{
            margin: 3rem 0;
            &-content{
                height: auto;
                &-flex{
                    div{
                        padding: 2rem 0 !important;
                    }
                }
            }
        }
        &_2{
            &-right{
                button{
                    font-size: .75rem;
                    padding: .2rem .5rem;
                    font-size: 14px;
                }
            }
        }
        &_5{
            margin: 5rem 0;
            &-content-button{
                button{
                    padding: 5px;
                    &:first-of-type{
                        margin-right: 1rem;
                    }
                }
            }
        }
    }
}
@media screen and (max-width:513px){
    .section{
        &_1{
            .text{
                &_content{
                    display: none;
                }
            }
        }
    }
}
@media screen and (max-width: 425px){
    .section {
        &_2{
            &-right{
                width: 30%;
            }
        }
    }
}
@media screen and (max-width:420px){
    .section{
        &_1{
            .fix-padding{
                padding-bottom: 0 !important;
            }
            .text{
                &_title{
                    font-size: 1.5rem;
                }
            }
        }
        &_2{
            &-right{
                button{
                    padding: 0 8px;
                    font-size: 7px;
                }
            }
        }
    }
}
@media screen and (max-width:375px){
    .section{
        &_3{
            &-content-flex{
                div{
                    h1{
                        font-size: 2rem;
                    }
                }
            }
        }
        &_4{
            &-title{
                .content{
                    grid-template-columns: repeat(1, 1fr) !important;
                }
            }
        }
    }
}
